body {
  background: #2a2927;
  color: #999999;
  font-family: sans-serif; }
  body table {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    border: none;
    margin: 0; }
    body table tr {
      border: none; }
      body table tr td {
        border: none;
        vertical-align: middle;
        text-align: center; }

h1, .logo {
  color: #999999;
  font-family: monospace; }
  h1 .before, .logo .before {
    vertical-align: super;
    font-size: 50%; }
  h1 .after, .logo .after {
    vertical-align: sub;
    font-size: 50%; }

ul.users {
  margin-left: 0; }
  ul.users li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px; }

.user {
  display: inline-block;
  color: #999999; }
  .user.cursor {
    -moz-text-shadow: 0 0 1px #630b11;
    -webkit-text-shadow: 0 0 1px #630b11;
    text-shadow: 0px 0px 1px #630b11; }

input.pwinput {
  background-color: #1e1d1c;
  color: white;
  text-align: center;
  font-family: monospace; }
  input.pwinput:focus {
    background-color: #1e1d1c; }

input.invalidpw {
  border: 1px solid red !important; }

.footer {
  color: #999999;
  height: 40px;
  padding: 0; }
  .footer > div {
    display: inline-block;
    margin: 0 40px;
    text-align: center; }
    .footer > div:hover {
      -moz-text-shadow: 0 0 1px #630b11;
      -webkit-text-shadow: 0 0 1px #630b11;
      text-shadow: 0px 0px 1px #630b11; }
    .footer > div img {
      margin: 0 auto;
      display: block;
      height: 40px; }
